* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 960px;
    margin   : 0 auto;

    .header {
        .header-small {
            display        : flex;
            justify-content: space-between;
            line-height    : 34px;
            border-bottom  : 1px solid white;

            .header-small--login {
                margin-right: 15px;
                height      : 10px;

                .btn-login,
                .btn-register {
                    background-color: white;
                    border          : 1px solid #bdafaf9d;
                }

                a {
                    text-decoration: none;
                    color          : black;
                    padding        : 2px 4px;
                    margin-right   : 5px;
                    padding        : 2px 20px;
                }

            }

        }

        .header-content {
            display        : flex;
            justify-content: space-between;
            align-items    : center;

            img {
                max-width : 110px;
                max-height: 110px;
            }

            .icon-textcart {
                display: flex;

                .icon-cart {
                    border-radius   : 55px;
                    border          : 1px solid black;
                    width           : 70px;
                    height          : 70px;
                    background-color: #48815ed5;

                    .fa-shopping-cart {
                        font-size  : 40px;
                        margin-top : 17px;
                        margin-left: 10px;
                        color      : rgb(231, 222, 168);
                    }

                    .amount-product {
                        margin-top: 60px;

                        .amount {
                            // display: block;
                        }
                    }

                }
            }
        }
    }

    .wrapper-content {
        .wrapper-nav {
            ul {
                list-style-type : none;
                margin          : 0;
                padding         : 0;
                overflow        : hidden;
                background-color: #333;
            }

            li {
                float: left;
            }

            li a {
                display        : block;
                color          : white;
                text-align     : center;
                padding        : 14px 16px;
                text-decoration: none;
            }

            li a:hover:not(.active) {
                background-color: #66a182;
            }

            .active {
                background-color: #66a182;
            }
        }
    }

}